/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: rgb(35, 39, 42);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.extra-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
body {
  margin: auto;
}

/*Blocco centrale  */

main > article > section {
  display: flex;
  justify-content: center;
}
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 680px;
  max-width: 1260px;
  margin: auto 5%;
  gap: 8rem;
}
.row-container > img {
  max-height: 440px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}
.row-container p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  flex-grow: 0;
  line-height: 1.625em;
}
.row-container > div {
  max-height: 440px;
  margin: auto;
}

main > article > section:nth-child(2) {
  background-color: #f6f6f6;
}
main > article > section:nth-child(2) > div {
  flex-direction: row-reverse;
}
.text-cell {
  width: 380px;
}

/*Main footer*/

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 980px;
  text-align: center;
}

.main-footer > div > h1 {
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 900;
  padding: 1rem;
}
.main-footer > div > p {
  font-size: (20px);
  line-height: 1.625em;
}
.main-footer > img {
  width: 1180px;
  height: auto;
}

.join {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join > h2 {
  color: black;
  font-size: 28px;
  padding: 2rem 1rem 0 1rem;
  background-image: url(img/stars.svg);
  background-size: contain;
  background-position: bottom-left;
}
.download {
  display: flex;
  gap: 1rem;
  background-color: #5865f2;
  padding: 16px;
  border-radius: 32px;
  border: transparent;
  color: aliceblue;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
}

.download:hover {
  background-color: hsl(235, 86%, 70%);
}
.download > img {
  /*Rendere bianco */
}

/*Sezione footer */
.footer {
  background-color: #23272a;
  max-width: 100%;
}
/*
.ext-link {
  justify-items: start;
}
.int-link {
  display: flex;
  justify-content: space-evenly;
}
.int-link > * {
  display: flex;
  flex-direction: column;
}
*/
.link {
  display: flex;
  justify-content: space-evenly;
}

.link > * {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.social-logos {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}
